# Logging
LOG_LEVEL=INFO
LOG_DRIVER=awslogs          # Options: json (local logs) or awslogs (CloudWatch)

# Required only when LOG_DRIVER=awslogs
AWS_DEFAULT_REGION=ap-southeast-1
AWS_LOG_GROUP=twd-logs

# Database
MYSQL_HOST=twd-dbinstance.c7scwgiig665.ap-southeast-1.rds.amazonaws.com
MYSQL_PORT=3306
MYSQL_DATABASE=meal_prediction
MYSQL_USER=twdadmin
MYSQL_PASSWORD=*****

# Redis (auto-set in docker-compose)
# REDIS_URL=redis://redis:6379/0

# LLM Provider: kariba | bedrock
LLM_PROVIDER=bedrock

# Kariba
KARIBA_API_URL=https://api.nonprod.kariba.de.sin.auto2.nonprod.c0.sq.com.sg/api/v2/call-llm/
KARIBA_MODEL=GPT5-mini

# AWS Bedrock
BEDROCK_BASE_URL=https://bedrock-runtime.ap-southeast-1.amazonaws.com
BEDROCK_MODEL=global.anthropic.claude-sonnet-4-5-20250929-v1:0

# Shared LLM token (used for both providers)
LLM_USER_TOKEN=your_token_here

# Frontend theme: purple (Thai client) | blue (Malaysian client)
REACT_APP_THEME=blue
